// heading
.global_h1 {
  font-size: 2rem;
  font-weight: 900;
}

.global_h2 {
  font-size: 1.75rem;
  font-weight: 900;
}

.global_h3 {
  font-size: 1.5rem;
  font-weight: 900;
}

.global_h4 {
  font-size: 1.25rem;
}

.global_h5 {
  font-size: 1.125rem;
}

// margin
.global_mb20 {
  margin-bottom: 20px;
}