@charset "UTF-8";

.ly_body {
  width: 1200px;
  max-width: 100%;

  margin-right: auto;
  margin-left: auto;
}

.bl_bulletList > *:last-child {
  margin-bottom: 0;
}

.bl_bulletList > li {
  margin-bottom: 10px;

  padding-left: 1em;

  position:relative;
}

.bl_bulletList > li::before {
  content: "";

  width: 0.4em;
  height: 0.4em;

  border-radius: 50%;
  background-color: #e25c00;

  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* 확장 Modifier - 가로 2개씩 배치 */
.bl_bulletList.bl_bulletList__horiz {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bl_bulletList.bl_bulletList__horiz > li {
  margin-right: 10px;

  flex: calc(50% - 5px);
}

.bl_bulletList.bl_bulletList__horiz > li:nth-of-type(even) {
  margin-right: 0;
}