@charset "UTF-8";

.ly_body {
  width: 1200px;
  max-width: 100%;
  height: 100vh;

  margin-right: auto;
  margin-left: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bl_card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.bl_card_imgWrapper {
  position: relative;

  padding-top: 56.25%;

  overflow: hidden;
}

.bl_card_imgWrapper > img {
  width: 100%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.bl_card_body {
  padding: 15px;
}

.bl_card_body > *:last-child {
  margin-bottom: 0;
}

.bl_card_title {
  margin-bottom: 5px;

  font-size: 1.125rem;
  font-weight: 900;
}

.bl_card_content {
  color: #777;
}

/* Helper */
.hp_mr20 {
  margin-right: 20px;
}