<div class="bl_media">
  <figure class="bl_media_imgWrapper">
    <img src="/assets/image/bigStock.jpg" alt="사진: BigStock">
  </figure>
  <!-- /.bl_media_imgWrapper -->

  <div class="bl_media_body">
    <p class="bl_media_title">
      {{ title }}
    </p>
    <!-- /.bl_media_title -->

    <p class="bl_media_content">
      {{ content1 }}
      <br/>
      {{ content2 }}
    </p>
    <!-- /.bl_media_content -->
  </div>
  <!-- /.bl_media_body -->
</div>
<!-- /.bl_media -->