@charset "UTF-8";

.body {
  width: 1200px;
  max-width: 100%;
  height: 100vh;

  margin-right: auto;
  margin-left: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.card__imgWrapper {
  position: relative;

  padding-top: 56.25%;

  overflow: hidden;
}

.card__img {
  width: 100%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.card__body {
  padding: 15px;
}

.card__title {
  margin-bottom: 5px;

  font-size: 1.125rem;
  font-weight: 900;
}

.card__content {
  color: #777;
}

.card--link {
  color: #000;
  text-decoration: none;

  transition: all 0.25s;
}

.card--link .card__title,
.card--link .card__content {
  transition: all 0.25s;
}

.card--link:hover,
.card--link:focus {
  opacity: 0.75;
}

.card--link:hover .card__title,
.card--link:focus .card__title,
.card--link:hover .card__content,
.card--link:focus .card__content {
  text-decoration: underline;
}