@charset "UTF-8";

.body {
  width: 1200px;
  max-width: 100%;
  height: 100vh;

  margin-right: auto;
  margin-left: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.card_mr20 {
  margin-right: 20px;
}

.card__imgWrapper {
  position: relative;

  padding-top: 56.25%;

  overflow: hidden;
}

.card__img {
  width: 100%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}