@charset "UTF-8";

.testBody {
  width: 1200px;
  max-width: 100%;

  margin-right: auto;
  margin-left: auto;

  padding: 0 40px 20px;
}

.vertPostList > *:first-child {
  padding-top: 0;
}

.vertPostList__item {
  padding-top: 15px;
  padding-bottom: 15px;

  border-bottom: 1px solid #ddd;
}

.vertPostList__item > *:last-child {
  margin-bottom: 0;
}

.vertPostList__header {
  margin-bottom: 10px;
}

.vertPostList__date {
  font-size: 0.875rem;
}

.vertPostList__title {
  color: #e25c00;
  text-decoration: none;
}

.vertPostList__title:hover,
.vertPostList__title:focus {
  text-decoration: underline;
}