@charset "UTF-8";

.ly_body {
  width: 1200px;
  max-width: 100%;

  margin-right: auto;
  margin-left: auto;
}

.bl_bulletList > *:last-child {
  margin-bottom: 0;
}

.bl_bulletList > li {
  margin-bottom: 10px;

  padding-left: 1em;

  position: relative;
}

.bl_bulletList > li::before {
  content: "";

  width: 0.4em;
  height: 0.4em;

  border-radius: 50%;
  background-color: #e25c00;

  display: block;
  position: absolute;
  top: 0.5em;
  left: 0;
}

/* 변화형 - 하위 리스트 */
.bl_bulletList ul {
  padding-left: 1.5em;

  margin-top: 10px;

  list-style: circle;
}

.bl_bulletList ul > *:last-child {
  margin-bottom: 0;
}

.bl_bulletList ul > li {
  margin-bottom: 10px;
}