@charset "UTF-8";

.ly_body {
  width: 1200px;
  max-width: 100%;
  height: 100vh;

  margin-right: auto;
  margin-left: auto;
}

/* 3컬럼 */
.bl_cardUnit {
  display: flex;
  flex-wrap: wrap;
}

.bl_cardUnit__col3 {
  margin-bottom: -30px;
}

.bl_cardUnit__col3 > .bl_card {
  width: 31.707%;
  margin-right: 2.43902%;
  margin-bottom: 30px;
}

.bl_cardUnit__col3 > .bl_card:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .bl_cardUnit.bl_cardUnit__col3 {
    margin-bottom: -20px;
  }

  .bl_cardUnit .bl_card {
    width: 100%;

    margin-right: 0;
    margin-bottom: 20px;
  }
}

/* 카드 */
.bl_card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.bl_card_imgWrapper {
  position: relative;

  padding-top: 56.25%;

  overflow: hidden;
}

.bl_card_imgWrapper > img {
  width: 100%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.bl_card_body {
  padding: 15px;
}

.bl_card_title {
  margin-bottom: 5px;

  font-size: 1.125rem;
  font-weight: 900;
}

.bl_card_content {
  color: #777;
}