@charset "UTF-8";

.ly_body {
  width: 1200px;
  max-width: 100%;

  margin-right: auto;
  margin-left: auto;
}

.bl_vertPostList_item {
  padding-top: 15px;
  padding-bottom: 15px;

  border-bottom: 1px solid #ddd;
}

.bl_vertPostList_item:first-child {
  padding-top: 0;
}

.bl_vertPostList_header {
  margin-bottom: 10px;
}

.bl_vertPostList_date {
  font-size: 0.875rem;
}

.bl_vertPostList_title {
  text-decoration: none;
}

.bl_vertPostList_title:hover,
.bl_vertPostList_title:focus {
  text-decoration: underline;
}

/* 연습용 Card 스타일 */
.bl_cardPostList {
  display: flex;
}

.bl_cardPostList_item {
  flex: 1;

  margin-right: 20px;
  padding: 10px 15px;

  border: 1px solid #ddd;
}

.bl_cardPostList > *:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .bl_cardPostList {
    display: block;
  }

  .bl_cardPostList > *:last-child {
    margin-bottom: 0;
  }

  .bl_cardPostList_item {
    margin-right: 0;
    margin-bottom: 20px;
  }
}